:80 {
    # Reverse proxy API traffic to the backend container
    handle /api/* {
        reverse_proxy backend:3000 {
            flush_interval -1
        }
    }

    # Reverse proxy all other traffic to the frontend container
    handle {
        reverse_proxy frontend:3000
    }
}